body{
    background: #4e627a;
}
.wrap{
    width: 840px;
    height: 220px;
    background: #fff;
    font-family: TimesNewRoman, "Times New Roman", Times, Georgia, serif;
    border-radius:  10px;
    box-shadow: 10px 40px  rgba(0,0,0,0.02); 

}
img{
    width: 60px;
    height: 60px;
    margin-left: 10px;

}
.inner1, .inner2, .inner3{
    float: left;
    
    margin: 10px 80px auto 60px;
}
.name1,.name2,.name3{
    margin: 25px auto;
}
.cost1,.cost2,.cost3{
    margin: 0 0 18px 0;

}
