body{
    background: #4e627a;
    font-family: Arial, Helvetica, sans-serif;
}
.wrap{
    
    width: 840px;
    height: 220px;
    background: #fff;
    font-family: TimesNewRoman, "Times New Roman", Times, Georgia, serif;
    border-radius:  6px;
    box-shadow: 0 5px 5px #33414c, 0 10px 10px #33414c, 0 15px 15px #33414c;
}
img{
    width: 60px;
    height: 60px;
    margin-left: 10px;

}
.inner1, .inner2, .inner3{    
    float: left;    
    margin: 10px auto;
    text-align: center;
    
}
.inner1{
  width: 270px; 
  border-right: 2px solid #ccc;
}
.inner2{
  width: 270px; 
  border-right: 2px solid #ccc;
}
.inner3{
  width: 270px; 
}
.name1,.name2,.name3{
    font-weight: 1000;
    margin: 25px auto;
    color:#e87057;
    font-size: 23px;
}
.cost1,.cost2,.cost3{
    margin: 0 0 14px 0;
    color:#52514d;
    font-size: 18px;
    font-weight: 1000;

}
button{
    background: #fb5f36;
    border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius:  6px;
}

